In [1]:
import datasets

In [2]:
dataset = datasets.load_dataset("squad")
print(dataset)

Downloading readme:   0%|          | 0.00/7.83k [00:00<?, ?B/s]

Downloading data files:   0%|          | 0/2 [00:00<?, ?it/s]

Downloading data:   0%|          | 0.00/14.5M [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/1.82M [00:00<?, ?B/s]

Extracting data files:   0%|          | 0/2 [00:00<?, ?it/s]

Generating train split:   0%|          | 0/87599 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/10570 [00:00<?, ? examples/s]

DatasetDict({
    train: Dataset({
        features: ['id', 'title', 'context', 'question', 'answers'],
        num_rows: 87599
    })
    validation: Dataset({
        features: ['id', 'title', 'context', 'question', 'answers'],
        num_rows: 10570
    })
})

In [3]:
train_data = dataset["train"]
eval_data = dataset["validation"]

In [19]:
train_texts = [
    f"Question: {q} Answer: {a['text'][0]}"
    for q, a in zip(train_data["question"], train_data["answers"])
]
eval_texts = [
    f"Question: {q} Answer: "
    for q, a in zip(eval_data["question"], eval_data["answers"])
]
eval_answers = [a["text"][0] for a in eval_data["answers"]]

In [17]:
train_texts[0]

'Question: To whom did the Virgin Mary allegedly appear in 1858 in Lourdes France? Answer: Saint Bernadette Soubirous'

In [18]:
eval_texts[0]

'Question: Which NFL team represented the AFC at Super Bowl 50? Answer: Denver Broncos'

In [20]:
import json
import pandas as pd

In [21]:
train_df = pd.DataFrame(train_texts, columns=["text"])
eval_df = pd.DataFrame({"text": eval_texts, "answer": eval_answers})

train_df

                                                    text
0      Question: To whom did the Virgin Mary allegedl...
1      Question: What is in front of the Notre Dame M...
2      Question: The Basilica of the Sacred heart at ...
3      Question: What is the Grotto at Notre Dame? An...
4      Question: What sits on top of the Main Buildin...
...                                                  ...
87594  Question: In what US state did Kathmandu first...
87595  Question: What was Yangon previously known as?...
87596  Question: With what Belorussian city does Kath...
87597  Question: In what year did Kathmandu create it...
87598  Question: What is KMC an initialism of? Answer...

[87599 rows x 1 columns]

In [22]:
train_df.to_json("../data/squad-train.jsonl", orient="records", lines=True)
eval_df.to_json("../data/squad-eval.jsonl", orient="records", lines=True)

In [28]:
train_df["rag_query"] = train_data["question"]
eval_df["rag_query"] = eval_data["question"]

In [29]:
train_df.to_json("../data/squad-train.jsonl", orient="records", lines=True)
eval_df.to_json("../data/squad-eval.jsonl", orient="records", lines=True)